<!doctype html>
<html lang="en" class="h-100">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.80.0">
        <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
        <title>Sermon Tracker</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 300px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            .form-signin {
                width: 300px;
                margin: auto;
                margin-top: 50px;
            }

            input {
                margin-top: 10px;
            }

            body {
                background-color: #f5f5f5;
            }

            button {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        </style>
        < !-- Custom styles for this template -->
            <link href="css/cover.css" rel="stylesheet">
    </head>

    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3 form-signin">
                <form action="/change-password" method="POST" id="form"><img class="mb-4" src="img/logo.png" alt=""
                        width="100" height="100">
                    <h1 class="h3 mb-3 fw-normal">Change Password</h1>
                    <hr><label for="inputName" class="visually-hidden">New Password</label><input type="password"
                        name="password" id="password" class="form-control" placeholder="Password" required><button
                        class="w-100 btn btn-lg btn-secondary" id="but" type="submit">Sign Up</button>
                    <p>Don't have an account click <a href="/signup">HERE</a></p>
                    <p>Didn't forget password click <a href="/login">HERE</a></p>
                </form>
            </main>
            <footer class="mt-auto text-white-50">
                <p>Copyright 2021 <a href="http://aztecteam.herokuapp.com/" class="text-white">Azi Tec Team</a>.</p>
            </footer>
        </div>
        <script>var name = document.getElementById('firstName');
            var email = document.getElementById('email');
            var mess = document.getElementById('inputLName');
            var pass = document.getElementById('password');
            var but = document.getElementById('but');
            const form = document.getElementById('form');

            form.addEventListener('submit', registerUser());

            async function registerUser(event) {
                event.preventDefault();
                const password = document.getElementById('password');

                const result = await fetch('/change-password', {

                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }

                    ,
                    body: JSON.stringify({
                        newpassword: password,
                        token: localStorage.getItem('token')
                    }

                    )
                }

                ).then((res) => res.json()) if (result.status == 'ok') {
                    console.log('Got the token: ', result.data);
                    alert('Success');
                }

                else {
                    alert(result.error);
                }

                console.log(result);
            }

            but.disabled = true;

            but.className = "w-100 btn btn-lg btn-secondary";


            function check() {
                if (pass.value != "") {

                    but.disabled = false;
                    but.className = "w-100 btn btn-lg btn-primary";
                }

                else {
                    but.disabled = true;
                    but.className = "w-100 btn btn-lg btn-secondary"
                }
            }

            setInterval(check, 100) </script>
    </body>

</html>