<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="About us and the company">
    <meta name="keywords" content="azi tec team, about azi tec team, caleb gross, isaiah batres, james calamore, ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Web_CSS.css">
    <link rel="icon" href="Img/Icon_2.0.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Azi Tec</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light w-75 mx-auto shadow-sm" style="position: sticky; top:0; z-index: 10; border-radius: 0 0 10px 10px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <image src="Img/Icon_2.0.png" alt="logo" width="30" height="30" class="d-inline-block align-left">
                </image>
                Azi Tec Team
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto justify-content-left">
                    <li class=" nav-item">
                        <a></a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/downloadpage">Downloads</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/onlineapps">WebApps</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/contact">Contacts</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto justify-content-end" style="width: 100%;">
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="header-image" style="display: block; position: relative; width: 100vw; height: 100vh; background-color: rgb(238,238,238);">
        <img src="Img/cover.png" alt="Cobra" class="Cobra_Head my-auto about-header">

    </div>
    <div class="main_div" style="background-color: rgba(255, 255, 255, 0.76); padding-bottom: 100px; padding-top: 100px; backdrop-filter: blur(3px); border-radius: 15px; text-align: center; margin-bottom: 100px; margin-top: 100px;">

        <h1 style=" margin-top: 20px; "><b>About</b></h1>
        <hr class="wide_hr ">

        <image src="Img/Me_1.png " alt="Me " style="width: 70%; height: auto; border: 10px solid rgb(243, 243, 243); border-radius: 50%;" class="image_Center ">
        </image>
        <div>

            <h1 style="margin-top: 20px; "><b>About Me</b></h1>
            <div class="div_Bottom ">
                <hr>
                <p class="Main_P ">Greetings, my proper name is Caleb. I am a multiprogramming language developer. My personal favorite programming language is Python, I typically use it all the time in my personal projects.</p>
            </div>
        </div>

        <h2><b>Purpose</b></h2>
        <hr class="Mid_hr ">

        <p class="Main_P" style="margin: auto; width: 75%;  margin-bottom: 100px;">Greetings, you might be considering what exactly is the intended purpose of this company? Suitably, the intended purpose is to progressively improve the developed world with programming, it could be with school, hospital, ordinary things, for
            work, office, and more. We want to generously benefit local people with our unique skills.
        </p>

    </div>


    <div class="div_bottom " style="width: 100%; text-align: center; background-color: #eeeeeed5; margin: 0px; height: 200px; backdrop-filter: blur(3px); ">
    </div>

</body>

</html>