<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Contact us, ask us to build an app for you">
    <meta name="keywords" content="contact azi tec team, azi tec team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Web_CSS.css">
    <link rel="icon" href="Img/Icon_2.0.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Azi Tec Team</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light w-75 mx-auto shadow-sm" style="position: sticky; top:0; z-index: 10; border-radius: 0 0 10px 10px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <image src="Img/Icon_2.0.png" alt="logo" width="30" height="30" class="d-inline-block align-left">
                </image>
                Azi Tec Team
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto justify-content-left">
                    <li class=" nav-item">
                        <a></a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/downloadpage">Downloads</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/onlineapps">WebApps</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/contact">Contacts</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto justify-content-end" style="width: 100%;">
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="top_contaner">
        <image src="Img/aboutpage.png" alt="Cobra">
        </image>

        <div style="max-width: 400px; margin: auto; margin-top: 30px; margin-bottom: 30px; text-align: center; left: 900px;">
            <div class="main_div" style="text-align: center; align-content: center; align-items: center;">
                <h2 style="margin-bottom: 30px; margin-top: 30px;">Contact Us</h2>
                <hr style="width: auto; margin: auto;">
                <p class="Main_P" style="width: 500px; margin: auto; margin-top: 10px; margin-bottom: 10px;">Write us here if you have any app that you would like us to make that would be of a help to you or if you have any questions, or if there is a problem with our programs just send us a message.</p>
                <hr style="width: auto; margin: auto;">
                <form action="/sendmess" method="POST">
                    <input type="text" placeholder="Name" id="name" name="name">
                    <br>
                    <input type="email" placeholder="Email" id="email" name="email">
                    <br>
                    <textarea id="mess" cols="50" rows="7" placeholder="Message" name="message"></textarea>
                    <br>
                    <input type="submit" value="Send" id="send" onclick="window.alert('Mail sent successfully... Thank you for contacting us')" />
                </form>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>

    <script src="https://smtpjs.com/v3/smtp.js">
    </script>

    <script type="text/javascript">
        function sendEmail() {
            var name = document.getElementById('name');
            var email = document.getElementById('email');
            var mess = document.getElementById('mess');
            Email.send({
                    SecureToken: "16c4aa54-a783-4157-a16e-7a8b039f37cd",
                    To: 'aztecinc2021@gmail.com',
                    From: "aztecinc2021@gmail.com",
                    Subject: name.value,
                    Body: mess.value + "                            " + email.value,
                })
                .then(function(message) {
                    alert("Mail sent successfully... Thank you for contacting us")
                });
        }
    </script>
    <div class="div_bottom" style="width: 100%; text-align: center; background-color: #eeeeee; margin: 0px; height: 50px;">
    </div>

</body>

</html>