<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Our online apps">
    <meta name="keywords" content="azi tec team, apps, online apps">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Web_CSS.css">
    <link rel="icon" href="Img/Icon_2.0.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Azi Tec Team</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light w-75 mx-auto shadow-sm" style="position: sticky; top:0; z-index: 10; border-radius: 0 0 10px 10px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <image src="Img/Icon_2.0.png" alt="logo" width="30" height="30" class="d-inline-block align-left">
                </image>
                Azi Tec Team
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto justify-content-left">
                    <li class=" nav-item">
                        <a></a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/downloadpage">Downloads</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/onlineapps">WebApps</a>
                    </li>
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/contact">Contacts</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto justify-content-end" style="width: 100%;">
                    <li class="nav-item" style="font-family: 'Courier New', Courier, monospace;">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="top_contaner">
        <image src="Img/download header.png" alt="Cobra" class="Cobra_Head" style="margin-top: 30px; margin-bottom: 30px;"></image>
    </div>

    <d class="main_A">

        <h1 style="margin-top: 30px;"><b>Web Apps</b></h1>

        <hr class="wide_hr">

        <div style="background-color: white; margin: 0; width: 100%; height: auto; padding: 50px 0px;">
            <div class="main_A shadow-sm" style="background-color: #eeeeee;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 my-3">
                            <div class="card cardA shadow-sm">

                                <h2 style="font-size: 2.5vw;">Hurly-Burly</h2>

                                <image src="Img/todo.png" alt="Sermon Tracker" class="image_Center w-75" style="margin-top: 10px; margin-bottom: 10px; padding: 20px; width: 100%; height: auto;">
                                </image>

                                <div class="card-body">
                                    <button type="button" class="col-md-6 btn btn-sm btn-outline-dark w-50" style="margin: 18px 0px;" onclick="window.open('https://azitodo.herokuapp.com/');">
                                                    Here</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-3">
                            <div class="card cardA shadow-sm">

                                <h2 style="font-size: 2.5vw;">
                                    Fraction Action</h2>

                                <image src="Img/Fraction.png " alt="fraction" class="image_Center w-75" style="margin-top: 5px; margin-bottom: 5px; padding: 20px;">
                                </image>


                                <div class="card-body">
                                    <button type="button" class="col-md-6 btn btn-sm btn-outline-dark w-50" style="margin: 34px 0px;" onclick="window.open('https://azitodo.herokuapp.com/');">
                                                    Here</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-3">
                            <div class="card cardA shadow-sm">

                                <h2 style="font-size: 2.5vw;">Sermon Tracker</h2>

                                <image src="Img/logo.png" alt="Sermon Tracker" class="image_Center w-75" style="margin-top: 5px; margin-bottom: 5px;">
                                </image>

                                <div class="card-body">
                                    <button type="button" class="col-md-6 btn btn-sm btn-outline-dark w-50" style="margin: 18px 0px;" onclick="window.open('https://azitodo.herokuapp.com/');">
                                                    Here</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <hr class="wide_hr">

        <div class="footer">

        </div>
        </div>

        <div class="footer">

        </div>
        <div class="div_bottom" style="width: 100%; text-align: center; background-color: #eeeeee; margin: 0px; height: 50px;">
        </div>

</body>

</html>